{% extends "HologramBundle::layout.html.twig" %}
{% block dashboard %}
   <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-plain">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Tunisie Hologram</h4>
	                                <p class="category">Votre site de publication de publicité via Hologram </p>
	                            </div>
	                            <div class="card-content">
									<div class="iframe-container hidden-sm hidden-xs">
										<iframe src="{{ asset('https://design.google.com/icons/')}}">
											<p>Your browser does not support iframes.</p>
										</iframe>
									</div>
									<div class="col-md-6 hidden-lg hidden-md text-center">
										<h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the  <a href="https://design.google.com/icons/" target="_blank">Material Icons</a></h5>
									</div>
	                        	</div>
	                    	</div>
	                	</div>
	            	</div>
	        	</div>
	    	</div>
{% endblock %}