{% extends is_granted('ROLE_SUPER_ADMIN')
    ? 'HologramBundle::layout.html.twig'
    : 'HologramBundle::layouts.html.twig' %}
{% block mainContent %}          
<!-- New Product -->
<div class="container">
    <div style="padding-left: 300px; width: 800px; color: #73879C;">
   
      </br>
        
          </br>
     </br>
     <span> <h3 style="padding-left: 200px; color: #73879C;"> New Product </h3> </span>
     </br>
    {{form(f)}}
     {{form(ff)}}
  
     </div>
     </div>
</br>

</br> </br> </br>

<!-- /New Product -->


{% endblock %}{# empty Twig template #}
