{% extends "HologramBundle::layouts.html.twig" %}
     {% block title %} 
         <h2> New Product </h2>
         </br>
                         {% endblock%}
    
{% block mainContent %}          
<!-- New Product -->
<div class="container">
    <div style="padding-left: 300px; width: 800px; color: #73879C;">
   
      </br>
        
      
    
     </br>
    {{form(f)}}
    
  
     </div>
     </div>
</br>

</br> </br> </br>

<!-- /New Product -->


{% endblock %}{# empty Twig template #}
