{% trans_default_domain 'FOSUserBundle' %}


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Inscription</h4>                         
                        </div>
                        <div class="card-content">
                             <div class="card-content">
                            <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>

                                        </div>
                                    </div>
                            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="col-md-3">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary pull-right" value="{{ 'registration.submit'|trans }}" />
    </div>
                        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
</form>
