{% extends is_granted('ROLE_SUPER_ADMIN')
    ? 'HologramBundle::layout.html.twig'
    : 'HologramBundle::layouts.html.twig' %}
{% block mainContent %}
   

            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Valid Projects </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                   <!-- <p>Simple table with project listing with progress and editing options</p>!-->

                    <!-- start project list -->
                   
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%">Project Name</th>
                          <th>Date</th>
                          <th>Project Progress</th>
                          <th>Company Name</th>
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                       {% for p  in prod  %}
                      <tbody>
                        <tr>
                          <td>#</td>
                          <td>
                            <a>{{ p.productName }}</a>
                            <br />
                            <!--<small>Created 01.01.2015</small>-->
                          </td>
                          <td>
                            {{ p.productDate|date('d/m/Y')}} 
                          </td>
                          {% if p.finalVideo != null %}
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
                            </div>
                             
                           <small>100% Complete</small>
                              
                          </td>
                          {% elseif p.finalVideo == null %}
                                  <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                             
                           <small>80% Complete</small>
                              
                          </td>
                            {% endif %}
                          <td>
                              <!-- <button type="button" class="btn btn-success btn-xs">Success</button>!-->
                               <a>Samsung</a>
                          </td>
                          <td>
                            <a href="{{ path('esprit_hologram_view_validate_product_back',{'id':p.idProduit}) }}"  class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <!--<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>!-->
                          </td>
                        </tr>
                        
                      
                       {% endfor %} 
                      </tbody>
                      
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

       

{% endblock %}